.col-xl-4.mb-5 .col-12.col-md-7, .col-xl-6.mb-5 .col-12.col-md-7 {
  margin-bottom: 10px;
}
#title {
  color: #1ca35e;
  font-weight: 500;
}
main .container .row.first {
  margin-bottom: 2rem;
}
main .container .row .col-xl-8 .row .col-xl-6.mb-5,
main .container .row .col-xl-4.mb-5 {
  margin-bottom: 0 !important;
} 
main .container .row .col-xl-8 .row .col-xl-6.mb-5 .card .card-body .mb-3 .row .col .card-body .d-flex.remarcar,
main .container .row .col-xl-8 .row .col-xl-6.mb-5 .card .card-body .mb-3 .row .col .card-body .d-flex.remarcar .btn.remarcar,
main .container .row .col-xl-8 .row .col-xl-6.mb-5 .card .card-body .mb-3 .row .col .card-body .d-flex.excluir,
main .container .row .col-xl-8 .row .col-xl-6.mb-5 .card .card-body .mb-3 .row .col .card-body .d-flex.excluir .btn.excluir {
  width: 50%;
} 
.col-1.col-md-2.d-flex.align-items-center.text-muted.text-medium.justify-content-end.order-2.order-md-3 {
  display: none !important;
}